<!--application pour verifier l'etat des appareils electromenagés si sont activés ou pas -->
<li [ngClass]="{'list-group-item': true, 'list-group-item-success': appareilStatus === 'Allumé',
'list-group-item-danger': appareilStatus === 'Eteint'}">
	
	<h4 [ngStyle]="{color: getColor()}">Appareil: {{appareilName}} -- Status: {{getStatus()}}</h4>
	<a [routerLink]="[id]">Details</a>
	<button class="btn btn-success" (click)="onSwitchOn()" [disabled]="appareilStatus === 'Allumé'">Allumer</button>
	<button class="btn btn-danger" (click)="onSwitchOff()" [disabled]="appareilStatus === 'Eteint'">Eteindre</button>

</li>